[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://www.github.com/yuvraj1803/arm-trusted-firmware.git
	branch = green_tee_tfa
[submodule "linux"]
	path = linux
	url = https://www.github.com/yuvraj1803/linux.git
	branch = green_tee_linux
